{% extends 'base.html' %}

{% block content %}
    {% include 'inc_header.html' %}
    <h1>Товар</h1>
    <span style="font-size: large;"><b>{{ item.name }}</b></span><br>
    <span style="font-size: large;">{{ item.brand }}</span><br>
    <span style="font-size: medium;">{{ item.description }}</span><br>
    <ol>
        {% for color in cls %}
            <li style="list-style: square; color: {{ color }};"><span style="color: black;"> {{ color }}</span></li>
        {% endfor %}
    </ol>
    {% if item.count == 0  %}
        <p style="font-size: large;">товар отсутствует<br>
    {% else %}
        <p style="font-size: large;">на складе {{ item.count }} шт<br>
    {% endif %}
{% endblock %}
